[submodule "redpen-content"]
	path = redpen-content
	url = git@github.com:volokhonsky/redpen-content.git
	branch = main
[submodule "redpen-publish"]
	path = redpen-publish
	url = git@github.com:volokhonsky/redpen-publish.git
	branch = main

